[flake8]
# Игнорируем определённые ошибки через запятую
ignore = E203, E266, E501, W503, F403, F401

# Устанавливаем максимальную длину строки в 88 символов
max-line-length = 88

# Устанавливаем максимальную допустимую сложность функции
max-complexity = 12

# Указываем, какие файлы/папки исключить из проверки
exclude =
    .git,
    __pycache__,
    .venv,
    docs,
    migrations,
    old_code.py

# Указываем, какие файлы проверять (по умолчанию *.py)
filename = *.py