# Игнорировать все .txt-файлы
*.txt

# Игнорировать папку build
build/

# Игнорировать файл в корне
/config.json

# Игнорировать все .tmp-файлы в любой папке
**/*.tmp

# Не игнорировать important.txt (исключение)
!important.txt

# игнорировать все .log 
*.log

# игнорировать все .log кроме main.log
!main.log

*.html
*.pdf
*.docx
Python_*/
*cache*